*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.header{
  width:100%;
  height: 7vh;
  background: #23292d;
  display: flex;
  justify-content: center;
  align-items: center;
  h1{
    color:#fff;
    font-size: 1.4rem;
  }
}